.btn-orange {
    color: #fff;
    background-color: #4f4e96;
    border-color: #4f4e96;
}

.scoutive_logo {
    width: 150px;
    transition: 0.5s;
}

.bracket{
    width: 100%;
    border-top: 1px solid #f3f3f3;
}

.per-80 {
    max-width: 800px;
    margin-top: -5rem;
}
.hdr-text {
    color: #fbedb7;
    display: inline;
}

.footerScoutive {
    margin-top: 50px;
    background-color: #343a40;
}

.CopyrightScoutive {
    background-color: #343a40;
}

header.masthead {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 140px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #7dc4f6;
}

.md-form{
    margin: 10px;
}

.border-r {
    border-right: 1px solid #3f4348;
}
.border-t {
    border-top: 1px solid #3f4348;
}

.sendMessageArea{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.footerMenu {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.headerImage {
    width: 110%;
    margin-left: -20px;
    margin-top: -5px;
}

.-mt-20 {
    margin-top: -120px;
}
header.masthead h1 {
    font-family: Quicksand-Bold, Quicksand;
    color: #fff;
}

#mainNav.navbar-fixed {
    box-shadow: 0 0.5rem 1rem rgba(100, 100, 100, 0.15);
    background-color: #fff;
}

#mainNav.navbar-fixed .navbar-brand {
    color: #212529;
}

#mainNav.navbar-fixed .navbar-brand:hover {
    color: #fbedb7;
}

#mainNav.navbar-fixed .navbar-nav .nav-item .nav-link {
    color: #212529;
}

#mainNav.navbar-fixed .navbar-nav .nav-item .nav-link:hover {
    color: #7dc4f6;
}

#mainNav.navbar-fixed #navbar_logo {
    width: 110px;
}

header.masthead p {
    font-size: 20px;
    color: #fff;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: 10rem;
        min-height: 32rem;
        padding-top: 140px;
        padding-bottom: 0;
    }

    .navbar-light .navbar-toggler-icon {
        color: #212529;
    }

    @media (min-width: 1200px) {
        header.masthead h1 {
            font-size: 2.5rem;
        }
    }
}
